[submodule "plugins/dictionary-parser"]
	path = plugins/dictionary-parser
	url = https://github.com/LeBrisouDictionary/dictionary-parser.git
[submodule "plugins/dictionary-error"]
	path = plugins/dictionary-error
	url = https://github.com/nodejs-js-amaurybrisou/hapi-errors.git
[submodule "plugins/dictionary-api"]
	path = plugins/dictionary-api
	url = https://github.com/LeBrisouDictionary/dictionary-api.git
[submodule "plugins/dictionary-web"]
	path = plugins/dictionary-web
	url = https://github.com/LeBrisouDictionary/dictionary-web.git
[submodule "plugins/hapi-sequelize"]
	path = plugins/hapi-sequelize
	url = https://github.com/nodejs-js-amaurybrisou/hapi-sequelize.git
[submodule "plugins/dictionary-rdbms"]
	path = plugins/dictionary-rdbms
	url = https://github.com/LeBrisouDictionary/dictionary-rdbms.git
